_meta:
  type: "internalusers"
  config_version: 2

{{ getenv "OPENSEARCH_ADMIN_USERNAME" "opensearch" | strings.ToLower }}:
  hash: "{{ getenv "OPENSEARCH_ADMIN_PASSWORD" "opensearch" | crypto.Bcrypt }}"
  reserved: true
  backend_roles:
  - "admin"
  description: "Default Administrator"
